
kafka-consumer/bin/Debug/netcoreapp3.1/Confluent.Kafka.dll
kafka-consumer/bin/Debug/netcoreapp3.1/kafka-consumer.deps.json
kafka-consumer/bin/Debug/netcoreapp3.1/kafka-consumer.dll
kafka-consumer/bin/Debug/netcoreapp3.1/kafka-consumer.exe
kafka-consumer/bin/Debug/netcoreapp3.1/kafka-consumer.pdb
kafka-consumer/bin/Debug/netcoreapp3.1/kafka-consumer.runtimeconfig.dev.json
kafka-consumer/bin/Debug/netcoreapp3.1/kafka-consumer.runtimeconfig.json
kafka-consumer/bin/Debug/netcoreapp3.1/runtimes/linux-x64/native/alpine-librdkafka.so
kafka-consumer/bin/Debug/netcoreapp3.1/runtimes/linux-x64/native/centos7-librdkafka.so
kafka-consumer/bin/Debug/netcoreapp3.1/runtimes/linux-x64/native/debian9-librdkafka.so
kafka-consumer/bin/Debug/netcoreapp3.1/runtimes/linux-x64/native/librdkafka.so
kafka-consumer/bin/Debug/netcoreapp3.1/runtimes/osx-x64/native/librdkafka.dylib
kafka-consumer/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/librdkafka.dll
kafka-consumer/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/librdkafkacpp.dll
kafka-consumer/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/libzstd.dll
kafka-consumer/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/msvcp120.dll
kafka-consumer/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/msvcr120.dll
kafka-consumer/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/zlib.dll
kafka-consumer/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/librdkafka.dll
kafka-consumer/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/librdkafkacpp.dll
kafka-consumer/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/libzstd.dll
kafka-consumer/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/msvcp120.dll
kafka-consumer/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/msvcr120.dll
kafka-consumer/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/zlib.dll
kafka-consumer/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
kafka-consumer/obj/Debug/netcoreapp3.1/apphost.exe
kafka-consumer/obj/Debug/netcoreapp3.1/kafka-consumer.AssemblyInfo.cs
kafka-consumer/obj/Debug/netcoreapp3.1/kafka-consumer.AssemblyInfoInputs.cache
kafka-consumer/obj/Debug/netcoreapp3.1/kafka-consumer.assets.cache
kafka-consumer/obj/Debug/netcoreapp3.1/kafka-consumer.csproj.CopyComplete
kafka-consumer/obj/Debug/netcoreapp3.1/kafka-consumer.csproj.CoreCompileInputs.cache
kafka-consumer/obj/Debug/netcoreapp3.1/kafka-consumer.csproj.FileListAbsolute.txt
kafka-consumer/obj/Debug/netcoreapp3.1/kafka-consumer.csprojAssemblyReference.cache
kafka-consumer/obj/Debug/netcoreapp3.1/kafka-consumer.dll
kafka-consumer/obj/Debug/netcoreapp3.1/kafka-consumer.genruntimeconfig.cache
kafka-consumer/obj/Debug/netcoreapp3.1/kafka-consumer.pdb
kafka-consumer/obj/kafka-consumer.csproj.nuget.dgspec.json
kafka-consumer/obj/kafka-consumer.csproj.nuget.g.props
kafka-consumer/obj/kafka-consumer.csproj.nuget.g.targets
kafka-consumer/obj/project.assets.json
kafka-consumer/obj/project.nuget.cache
